body{
    background-color:#EAFDFC ;
 }
 hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 5px;
   }
   h1{
    color: #6998AB;
   }
   h2{
    color: #6998AB;
   }
   h3{
    color: #6998AB;
   }